
/* Page Background */
.App {
    background: rgb(242, 252, 247);
    min-height: 100vh;
}

/* Side of Page */
.side {
    min-height: 60vh;
    background: #fff;
    border: 1px solid rgb(216, 214, 214);
}


/* Card Item */
.card-item {
    padding: 10px;
    border: 1px solid rgb(211, 210, 210);
    border-top: none;
    background: #fff;
    cursor: pointer;
}

.card-item:nth-child(odd) {
    border-right: none;
}

.card-item.active {
    color: rgb(250, 213, 145);
}

/* Graph */
.graph-default {
    margin: 0 auto;
    height: 600px; 
    width: 100%;
}

