.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-section {
    padding: 4px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    a {
      font-family: 'Montserrat', sans-serif;
      color: #000;
      text-decoration: none;
    }
  }
  .nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    .nav-item {
      padding: 4px 16px;
      text-transform: uppercase;
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.4;
        color: #1b1b1b;
        text-decoration: none;
      }
    }
  }
}
