.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-section {
    padding: 16px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    a {
      color: #000;
      text-decoration: none;
    }
  }
  .nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    .nav-item {
      padding: 16px;
      text-transform: uppercase;
      a {
        color: gray;
        text-decoration: none;
      }
    }
  }
}
