extends layout

block content
  h1= title
  p Welcome to #{title}.
  p Click <a href="/schedule-basic">here</a> to schedule a basic operation that logs back to the console.
  p Click <a href="/schedule-with-data">here</a> to schedule an operation that mimics sending a welcome package to a new user.
